
        <ion-grid fixed>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="close()">
                <ion-icon color="danger" size="large" slot="icon-only" name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-row>
            <ion-col offset="1" size="2">
              <ion-avatar>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              </ion-avatar>
            </ion-col>
            <ion-col size="3">
              <ion-text>
                <h3>Title</h3>
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <div
                style="display: flex; flex-direction: column; justify-content: center; text-align: right; height: 100%;">
                <p style="margin: 0;">13-sept-2024</p>
                <h5 style="margin: 0;">Categoría</h5>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-text-center">
            <ion-col size="12">
              <ion-chip color="medium" mode="ios">
                <ion-label>Hogar</ion-label>
              </ion-chip>
              <ion-chip  color="medium" mode="ios">
                <ion-label>Electrónicos</ion-label>
              </ion-chip>
              <ion-chip  color="medium" mode="ios">
                <ion-label>Ropa</ion-label>
              </ion-chip>
              <ion-chip  color="medium" mode="ios">
                <ion-label>Otros</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col  offset="1" size="10">
              <ion-textarea [readonly]="true" [counter]="true" maxlength="250" [autoGrow]="true" label="Descripción" labelPlacement="floating" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et imperdiet lacus. Nulla maximus, turpis quis tincidunt blandit, dui urna semper turpis, at bibendum libero ligula sed lectus. "></ion-textarea>
            </ion-col>
            <ion-col  offset="1" size="10">
              <ion-label>Valoración</ion-label>
              <ion-item lines="none" class="ion-text-center">
                  <ion-icon 
                    size="large"
                    [name]="rating >= 1 ? 'star' : 'star-outline'" 
                    [color]="rating >= 1 ? 'warning' : 'medium'" 
                    (click)="setRating(1)">
                  </ion-icon>
                  <ion-icon 
                  size="large"
                  [name]="rating >= 2 ? 'star' : 'star-outline'" 
                    [color]="rating >= 2 ? 'warning' : 'medium'" 
                    (click)="setRating(2)">
                  </ion-icon>
                  <ion-icon 
                  size="large"
                  [name]="rating >= 3 ? 'star' : 'star-outline'" 
                    [color]="rating >= 3 ? 'warning' : 'medium'" 
                    (click)="setRating(3)">
                  </ion-icon>
                  <ion-icon 
                  size="large"
                  [name]="rating >= 4 ? 'star' : 'star-outline'" 
                    [color]="rating >= 4 ? 'warning' : 'medium'" 
                    (click)="setRating(4)">
                  </ion-icon>
                  <ion-icon 
                  size="large"
                  [name]="rating >= 5 ? 'star' : 'star-outline'" 
                    [color]="rating >= 5 ? 'warning' : 'medium'" 
                    (click)="setRating(5)">
                  </ion-icon>
              </ion-item>
            </ion-col>
            <ion-col offset="1" size="10">
              <ion-label>Calidad</ion-label> 
              <ion-textarea  labelPlacement="floating" value="Nuevo" [readonly]="true" color="black"></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button mode="ios" expand="block" fill="outline" color="danger">Favoritos</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="openclose()" mode="ios" expand="block" fill="outline" color="primary">
                Ofertar
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
            </ion-col>
          </ion-row>
        </ion-grid>
