<ion-grid fixed>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon color="danger" size="large" slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col offset="1" size="10">
      <ion-list>
        <ion-radio-group>
          @for (product of offers; track product.productDataOffered.id) {
            <ion-item>
              <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                <div style="display: flex; align-items: center;">
                  <ion-radio [(ngModel)]="selectedOfferId" [value]="product.id_product_offered" slot="start"></ion-radio>
                  <span style="margin-left: 10px;">{{ product.productDataOffered.name }}</span>
                </div>
                <p class="calidad-text" >{{ product.productDataOffered.quality }}</p>
              </div>
            </ion-item>
          }
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="openModalAsking('aceptar')"  expand="block" color="success" fill="outline" shape="round">
        Aceptar intercambio
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>