<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bgInicio">

    <ion-row class="bgLogo">
      <ion-col offset="4" size="4">
        <img src="/assets/images/logo.png" alt="imagen de logo">
      </ion-col>
    </ion-row>

    <ion-row class="inicioText">
      <ion-col size="12">
        <ion-text>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="buttons">
      <ion-col class="ion-text-center" size="6">
        <ion-button class="btnIngresar" expand="block" mode="ios" shape="round" routerLink="/login">
          Ingresar
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="6">
        <ion-button mode="ios" expand="block" fill="outline" shape="round" routerLink="/signup">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="socialMedia" >
      <ion-col class="ion-text-end" size="4">
        <ion-button shape="round" size="large" fill="solid">
          <ion-icon slot="icon-only" name="logo-facebook" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-button shape="round"  size="large" fill="solid">
          <ion-icon slot="icon-only" name="logo-github" size="large" ></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-start" size="4">
        <ion-button shape="round" size="large" fill="solid">
          <ion-icon slot="icon-only" name="logo-google" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>