ion-content {
  --background: none;
}

.bgInicio {
  background-image: url("/assets/images/bgInicio.svg");
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -1;
}

.bgLogo {
  margin-top: 35vh;
}

.inicioText {
  text-align: center;
}

.buttons{
  margin-top: 5vh;
}
ion-button.btnIngresar {
  --background: #2252A7;
}

.socialMedia ion-button {
  --background: black;
}

.socialMedia{
 margin-top: 10vh;
}