<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bgInicio">
    <div class="bgLogo">
      <div class="logoContainer">
        <img src="/assets/images/logo.png">
      </div>
      <div class="textContainer">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.</p>
      </div>
      <div class="botones">
        <ion-button mode="ios" shape="round" routerLink="/login" >
          Ingresar
        </ion-button>
        <ion-button mode="ios" color="light" fill="outline" shape="round">
          Registrarse
        </ion-button>
      </div>
      <div class="socialMedia">
        <ion-button shape="round" color="light" size="small">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="light" size="small">
          <ion-icon slot="icon-only" name="logo-github"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="light" size="small">
          <ion-icon slot="icon-only" name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>