<ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bgHome">
    <ion-row>
      <ion-col size="12">
        <ion-searchbar color="light" mode="ios" animated="true" placeholder="Busca algo" show-clear-button="always"
          clear-icon="trash-bin"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="sliderPrincipal">
      <ion-col offset="1" size="10">
        <swiper-container [slidesPerView]="1" [loop]="true">
          <swiper-slide>
            <ion-row>
              <ion-col class="imgContainer" size="5">
                <img src="https://m.media-amazon.com/images/I/81SI4loK+uL._AC_UF894,1000_QL80_.jpg" alt="imageProducto">
              </ion-col>
              <ion-col size="7">
                <ion-text>
                  <h1>Producto 1</h1>
                  <ion-text><ion-icon name="calendar-outline"></ion-icon></ion-text>
                  Hace 3 días <br>
                  <ion-text color="danger"><ion-icon name="heart-circle-outline" ></ion-icon></ion-text>
                  101
                </ion-text><br>
                <ion-segment mode="ios" value="like">
                  <ion-segment-button  value="dislike">
                    <ion-icon name="heart-dislike"></ion-icon>
                  </ion-segment-button>
                  <ion-segment-button value="like">
                    <ion-icon name="heart"></ion-icon>
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-row>
          </swiper-slide>
          <swiper-slide>
            <ion-row>
              <ion-col class="imgContainer" size="5">
                <img src="https://m.media-amazon.com/images/I/81SI4loK+uL._AC_UF894,1000_QL80_.jpg" alt="imageProducto">
              </ion-col>
              <ion-col size="7">
                <ion-text>
                  <h1>Producto 2</h1>
                  <ion-text><ion-icon name="calendar-outline"></ion-icon></ion-text>
                  Hace 3 días <br>
                  <ion-text color="danger"><ion-icon name="heart-circle-outline"></ion-icon></ion-text>
                  101
                </ion-text><br>
                <ion-segment mode="ios" value="like">
                  <ion-segment-button value="dislike">
                    <ion-icon name="heart-dislike"></ion-icon>
                  </ion-segment-button>
                  <ion-segment-button value="like">
                    <ion-icon name="heart"></ion-icon>
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-row>
          </swiper-slide>
          <swiper-slide>
            <ion-row>
              <ion-col class="imgContainer" size="5">
                <img src="https://m.media-amazon.com/images/I/81SI4loK+uL._AC_UF894,1000_QL80_.jpg" alt="imageProducto">
              </ion-col>
              <ion-col size="7">
                <ion-text>
                  <h1>Producto 3</h1>
                  <ion-text><ion-icon name="calendar-outline"></ion-icon></ion-text>
                  Hace 3 días <br>
                  <ion-text color="danger"><ion-icon name="heart-circle-outline"></ion-icon></ion-text>
                  101
                </ion-text> <br>
                <ion-segment mode="ios" value="like">
                  <ion-segment-button value="dislike">
                    <ion-icon name="heart-dislike"></ion-icon>
                  </ion-segment-button>
                  <ion-segment-button value="like">
                    <ion-icon name="heart"></ion-icon>
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-row>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
    <!-- <ion-chip mode="ios" class="chipHome">
        <ion-label>Inicio</ion-label>
        <ion-icon color="light" name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip mode="ios" class="chipCat">
        <ion-label>Categorías</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>--> 
      <ion-col size="12">
        <ion-segment 	swipe-gesture mode="ios" [scrollable]="true" value="todo">
          <ion-segment-button value="todo">
            <ion-icon name="earth-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="electrodomesticos">
            <ion-icon name="tv-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="moda">
            <ion-icon name="shirt-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="hogar">
            <ion-icon name="home-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="otros">
            <ion-icon name="extension-puzzle-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      
    </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-progress-bar></ion-progress-bar>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col size="12">
        <swiper-container [slidesPerView]="3" [loop]="true">
          <swiper-slide>
            <ion-card class="custom-card" id="open-modal" >
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card" id="my-product">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card" id="open-offer">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card" >
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-item-detail/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-my-products/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-my-offer/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <swiper-container [slidesPerView]="3" [loop]="true">
          <swiper-slide>
            <ion-card class="custom-card">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card">
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="custom-card" >
              <img class="custom-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>