<ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bgHome">
    <ion-row>
      <ion-col size="12">
        <ion-searchbar (ionInput)="onSearch($event)" color="light" mode="ios" animated="true" placeholder="Busca algo"
          show-clear-button="always" clear-icon="trash-bin"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="sliderPrincipal">
      <ion-col offset="1" size="10">
        <swiper-container :effect="coverflow" :autoplay="true" 
          :coverflowEffect="{
      rotate: 180,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: false,
    }" :modules="modules">
          @for (item of recentProducts; track item.id) {
          <swiper-slide >
            <ion-row>
              <ion-col class="imgContainer" size="5">
                <img [src]="item.image1" alt="imagen Producto">
              </ion-col>
              <ion-col size="7">
                <ion-text>
                  <h1>{{item.product_name}}</h1>
                  <ion-text><ion-icon name="calendar-outline"></ion-icon></ion-text>
                  {{ calculateDaysAgo(item.product_created_at) }}. <br>
                  <ion-text color="danger"><ion-icon name="heart-circle-outline"></ion-icon></ion-text>
                  {{item.favorites_count}}
                </ion-text><br>
                <ion-segment mode="ios" [value]="item.isFavorited ? 'like' : 'dislike'" (ionChange)="onFavoriteChange($event, item)">
                  <ion-segment-button value="dislike">
                    <ion-icon name="heart-dislike"></ion-icon>
                  </ion-segment-button>
                  <ion-segment-button value="like">
                    <ion-icon name="heart"></ion-icon>
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-row>
          </swiper-slide>
          }
        </swiper-container>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size="12">
        <ion-segment swipe-gesture mode="ios" [scrollable]="true" value="todo" (ionChange)="onCategoryChange($event)">
          <ion-segment-button value="todo">
            <ion-icon name="earth-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="electronico">
            <ion-icon name="tv-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="ropa">
            <ion-icon name="shirt-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="hogar">
            <ion-icon name="home-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="otros">
            <ion-icon name="extension-puzzle-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-progress-bar></ion-progress-bar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <swiper-container [slidesPerView]="1" [loop]="true">
          <swiper-slide *ngFor="let productRow of firstGroupedProducts">
            <ion-row>
              <ion-col size="4" *ngFor="let product of productRow">
                <ion-card class="custom-card" (click)="openItemDetail(product.id)">
                  <img [src]="product.image1" alt="Imagen del Producto" />
                  <ion-card-header>
                    <ion-card-title>{{ product.name }}</ion-card-title>
                    <ion-card-subtitle>{{ product.description }}</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <swiper-container [slidesPerView]="1" [loop]="true">
          <swiper-slide *ngFor="let productRow of secondGroupedProducts">
            <ion-row>
              <ion-col size="4" *ngFor="let product of productRow">
                <ion-card class="custom-card" (click)="openItemDetail(product.id)">
                  <img [src]="product.image1" alt="Imagen del Producto" />
                  <ion-card-header>
                    <ion-card-title>{{ product.name }}</ion-card-title>
                    <ion-card-subtitle>{{ product.description }}</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<script>
  import { Swiper, SwiperSlide } from 'swiper/vue';

  import 'swiper/css';

  import 'swiper/css/effect-coverflow';
  import 'swiper/css/effect-cube';
  import 'swiper/css/effect-flip';
  import 'swiper/css/pagination';

  import './style.css';

  import { EffectCoverflow, EffectCube, EffectFlip,  Pagination } from 'swiper/modules';

  export default {
    components: {
      Swiper,
      SwiperSlide,
    },
    setup() {
      return {
        modules: [EffectCoverflow,  EffectCube, EffectFlip, Pagination],
      };
    },
  };
</script>