<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="bgHome">

    <ion-row>
      <ion-col class="logoContainer ion-text-end" offset="6" size="6">
        <img src="/assets/images/logo.png" alt="imagen de logo" routerLink="/tabs/tab1">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <h1 class="title">Publicaciones</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="user-info">
      <ion-col size="5" class="ion-text-center" style="display: flex; justify-content: center; align-items: center;">
        <ion-avatar mode="md" class="ion-no-margin ion-no-padding">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="7">
        <ion-text color="medium" style="margin-bottom: 0; padding-bottom: 0;">
          <p style="margin:0">{{ user.name }}</p>
        </ion-text>
        <ion-text color="medium" class="ion-align-items-center"
          style="display: flex; justify-content: start; ; margin-bottom: 0;">
          <ion-icon name="bag" size="large"></ion-icon>
          <p style="margin:0">  {{count}}</p>
        </ion-text>
        <!-- <ion-item lines="none" class="ion-text-center ion-no-padding ion-no-margin stars"
          style="margin: 0; padding: 0 !important;">
          <ion-icon size="small" name="star" color="medium" style="margin:0"></ion-icon>
          <ion-icon size="small" name="star" color="medium"></ion-icon>
          <ion-icon size="small" name="star" color="medium"></ion-icon>
          <ion-icon size="small" name="star" color="medium"></ion-icon>
          <ion-icon size="small" name="star-outline" color="medium"></ion-icon>
        </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-segment mode="ios" value="publicaciones" (ionChange)="onSegmentChanged($event)">
          <ion-segment-button value="publicaciones">
            <ion-label>Mis publicaciones</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ofertas">
            <ion-label>Mis ofertas</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedSegment === 'publicaciones'">
      <ion-col size="12" class="ion-text-left">
        <ion-chip class="chip-accepted" mode="ios"   (click)="toggleStatusFilter('activa')">
          <ion-label>Activas</ion-label>
          <ion-icon  *ngIf="isStatusActive('activa')" name="close-circle" color="medium"></ion-icon>
        </ion-chip>
        <ion-chip class="chip-rejected" mode="ios" (click)="toggleStatusFilter('finalizada')" >
          <ion-label>Finalizadas</ion-label>
          <ion-icon  *ngIf="isStatusActive('finalizada')" name="close-circle"></ion-icon>
        </ion-chip>
        <ion-chip class="chip-offered" mode="ios" (click)="toggleStatusFilter('en pausa')"> 
          <ion-label>En pausa</ion-label>
          <ion-icon  *ngIf="isStatusActive('en pausa')" name="close-circle"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedSegment === 'ofertas'">
      <ion-col size="12" class="ion-text-left">
        <ion-chip class="chip-accepted" mode="ios" (click)="toggleStatusFilterOffer('aceptada')"  >
          <ion-label>Aceptadas</ion-label>
          <ion-icon *ngIf="isStatusActiveOffer('aceptada')" name="close-circle" color="medium"></ion-icon>
        </ion-chip>
        <ion-chip class="chip-rejected" mode="ios" (click)="toggleStatusFilterOffer('rechazada')">
          <ion-label>Rechazadas</ion-label>
          <ion-icon *ngIf="isStatusActiveOffer('rechazada')"  name="close-circle"></ion-icon>
        </ion-chip>
        <ion-chip class="chip-offered" mode="ios" (click)="toggleStatusFilterOffer('en curso')" >
          <ion-label>En curso</ion-label>
          <ion-icon *ngIf="isStatusActiveOffer('en curso')" name="close-circle"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedSegment === 'publicaciones'">
      <ion-col size="12" style="max-height: 50vh; overflow-y: auto;">
        <ion-list>
          @for (item of filteredPublicaciones; track item.id) {
          <ion-item [ngClass]="getItemClass(item.status)" (click)="openMyProduct(item.id)">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" [src]="item.image1" />
            </ion-thumbnail>
            <div style="display: flex; flex-direction: column;;">
              <ion-label>{{item.name}}</ion-label>
              <p style="font-size: 12px; margin: 3px;">{{item.is_new ? 'Nuevo' : 'Usado'}}</p>
              <p style="font-size: 12px; margin:3px">{{item.offers_count}} ofertas</p>
            </div>
            <ion-text style="right: 10px; position: absolute; font-size: 12px;" color="medium">
              <p>{{ item.created_at | date: 'yyyy-MM-dd' }}</p>
            </ion-text>
          </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedSegment === 'ofertas'" id="open-offer">
      <ion-col size="12" style="max-height: 50vh; overflow-y: auto;">
        <ion-list>
          @for (item of filteredOffers; track item.id) {
          <ion-item [ngClass]="getItemClass(item.status_offer)"  (click)="openMyOffer()">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <div style="display: flex; flex-direction: column;;">
              <ion-label>{{item.productData.name}}</ion-label>
              <p style="font-size: 12px; margin: 3px;">{{item.productData.is_new ? 'Nuevo' : 'Usado'}}</p>
              <p style="font-size: 12px; margin:3px">{{item.productOferedData.name}}</p>
            </div>
            <ion-text style="right: 10px; position: absolute; font-size: 12px;" color="medium">
              <p>{{item.created_at | date: 'yyyy-MM-dd'}}</p>
            </ion-text>
          </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content> 