// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #2252A7;
  --ion-color-primary-rgb: 34, 82, 167;

  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;

  --ion-color-primary-shade: #1d4695;
  --ion-color-primary-tint: #3660af;

  /* Variables para focus */
  --ion-color-primary-contrast-tint: #ffffff; /* Contraste con el color primario */
  --ion-item-background-focused: #ffffff; /* Fondo cuando se enfoca */
  --ion-item-border-color-focused: #2252A7 !important; /* Color del borde en foco */
  --ion-item-highlight-color-focused: #2252A7 !important; /* Color de la línea de enfoque */
}