<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bgLogin">

    <ion-row class="logoContainer">
      <ion-col offset="4" size="4">
        <img src="/assets/images/logo.png" alt="imagen de logo">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset="1" size="10">
        <ion-input mode="ios" class="ion-margin-top" type="email" fill="solid" label="Correo" labelPlacement="floating"
          helperText="Ingresa tu correo" errorText="Correo inválido" ngModel email>
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-col>
      <ion-col offset="1" size="10">
        <ion-input mode="ios" class="ion-margin-top" type="password" fill="solid" label="Contraseña"
          labelPlacement="floating" helperText="Ingresa tu contraseña" errorText="Contraseña inválida" ngModel email>
          <ion-icon slot="start" name="key" aria-hidden="true"></ion-icon>
          <ion-button mode="ios" color="primary" fill="clear" slot="end" aria-label="Show/hide">
            <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-end" offset="1" size="10">
        <ion-text class="forgotPassword">
          <a href="/reset-password"><b>Olvidé mi contraseña</b></a>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset="1" size="10">
        <ion-button class="btnLogin" mode="ios" expand="block" shape="round"  >
          Ingresar
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="socialMedia" >
      <ion-col class="ion-text-end" size="4">
        <ion-button shape="round" size="large" fill="solid">
          <ion-icon slot="icon-only" name="logo-facebook" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-button shape="round"  size="large" fill="solid">
          <ion-icon slot="icon-only" name="logo-github" size="large" ></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-start" size="4">
        <ion-button shape="round" size="large" fill="solid">
          <ion-icon slot="icon-only" name="logo-google" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center" offset="1" size="10">
        <ion-text >
          <a class="ion-text-center register" routerLink="/signup">¿No tienes cuenta?<b> Regístrate</b></a>
        </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>