.bgLogin {
  background-image: url("/assets/images/bgLogin.svg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.logoContainer{
  margin-top: 18vh;
}

.logoContainer img {
  max-width: 150px; 
  margin-bottom: 15px; 
}

.forgotPassword a {
  color: black !important;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

ion-button.btnLogin {
  --background: #2252A7;
}

.socialMedia ion-button {
  --background: black;
}

.socialMedia{
  margin-top: 5vh;
  margin-bottom: 3vh;
 }

 .register{
  color: black !important;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
 }